body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto';
    justify-content: space-between;
}

/* -----Hero Section-------- */

.hero {
    display: flex;
    flex-direction: column;
    gap: 64px;
    background-color: #1f2937;
    padding-bottom: 64px;
}

.hero .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero .header .logo {
    font-size: 24px;
    color: #f9faf8;
}

ul {
    list-style-type: none;
    padding-inline-start: 0%;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.hero .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
}

.hero .content .text {
    display: flex;
    flex-direction: column;
    flex-basis: 400px;
    gap: 8px;
}

.hero .content .text .heading {
    font-size: 48px;
    color: #f9faf9;
    font-weight: 900;
}

.hero .content .text .subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.hero .content .text button {
    background-color: #3882f6;
    border-radius: 4px;
    border: 0cm;
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    color: #f9faf9;
    font-weight: 500;
    align-self: flex-start;
}

.hero .content img {
    border: 2px solid lightgray;
    height: 200px;
    flex-basis: 350px;
}

/* --------Random Info Section---------- */

.random_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
}

.random_info .heading {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.img_and_text {
    display: flex;
    justify-content: center;
    gap: 54px;
}

.img_set {
    display: flex;
    flex-direction: column;
    flex-basis: 150px;
    gap: 4px;
}

.img_set img {
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.img_set .text {
    text-align: center;
}

/* --------Quote Section----------- */

.quote_section {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    padding-top: 72px;
    padding-bottom: 72px;
}

.quote {
    width: 750px;
    text-align: center;
    align-self: center;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1f2937;
}
.quotee {
    width: 750px;
    align-self: center;
    text-align: right;
    font-weight: bold;
}

/* --------Signup Section------- */

.signup_section {
    background-color: #3882f6;
    width: 900px;
    margin: auto;
    margin-top: 72px;
    margin-bottom: 72px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.signup_section .text .heading {
    font-size: 24px;
}

.signup_section .text .subtext {
    font-size: 18px;
}

.signup_section button {
    font-size: 18px;
    border: 2px solid #f9faf9;
    border-radius: 8px;
    background-color: #3882f6;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #f9faf9;
}

/* ------footer section---------- */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    background-color: #1f2937;
}

.footer .text {
    color: #e5e7eb;
    
}